.menu-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
}


@media screen and (max-width:900px) {
  .menu{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:500px) {
  .menu{
    grid-template-columns: 1fr;
  }
}

