.nav-wrap{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  transform:  all  .5s ease;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 999;
}
.fiext{
  backdrop-filter:blur(5px);
  background-color:#f0ffff51;
  box-shadow: 1px -3px 5px 3px #222;

}
.logo{
  width: 200px;
}
.nav-wrap ul{
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
  font-size:1rem;
}
.link{
  color:var(--text);
  text-decoration: none;
}
.card-wrap{
  position: relative;
}
.card-wrap .card-count{
  position: absolute;
  top:-8px; 
  color:var(--primary);
}

@media only screen and (max-height: 400px) {
  .nav-wrap {
    height: 70px; 
  }
}