.menu-nav{
  background: var(--white);
}
.menu-nav ul{
  display: flex;
  gap: 2rem;
  list-style: none;
  padding:10px 0px ;
}
.menu-nav ul li {
  position:relative;
  cursor: pointer;
  font-family: 600;
}
.m-after::after{
  content: "" ;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: var(--primary);
  width: 0%;
  transition: .3s ease;
}
.m-after:hover::after{
  width: 100%;
}
.m-active{
  border-bottom: 2px solid var(--primary);
}