@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
:root{
  --primary:#d13f2f;
  --text:#0b1117;
  --white: #fff;
  --secondary: #ecf0f1;
  --btn: #8e44ad;
  --hero:#ffb6d2cb;;
}
img{
  width: 100%;
  object-fit: cover;
  height: auto;
}
body{
  color: var(--text);
  background-color: var(--secondary);
  transform: .3s all ease;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding{
  padding:0% 5%;
}
.btn{
  font-weight: bold;
  background: var(--primary);
  border: none;
  padding:.4rem .8rem;
  border-radius: 3rem;
  color:var(--white) !important;
  transition: .3s all ease;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.6;
}